{{template "base" .}}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="text-center mt-3">Hellow World</h1>
            <hr>
            {{template "login"}}
            <hr>
            <small>Your request came from {{.IP}}</small><br>
            <small>From Session: {{.Data.test}}</small><br>
        </div>
    </div>
</div>
{{end}}